--extra-index-url https://pypi.nvidia.com

fastapi[standard]

pydantic-settings
structlog
python-multipart

numpy<2
pillow
pytest_asyncio
python-dotenv
onnxruntime


# transformers
# accelerate
# datasets
# huggingface-hub
# seaborn
# onnxruntime-gpu